#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500
#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
        combos {
            compatible = "zmk,combos";
            timeout-ms = <50>;
            require-prior-idle-ms = <30>;
            
            // マウス操作
            combo_left_click {
                bindings = <&mkp LCLK>;
                key-positions = <12 14>;  // y c
            };
            
            combo_right_click {
                bindings = <&mkp RCLK>;
                key-positions = <12 23>;  // y m
            };
            
            combo_middle_click {
                bindings = <&mkp MCLK>;
                key-positions = <14 12 23>;  // c y m
            };
            
            combo_back {
                bindings = <&kp C_AC_BACK>;
                key-positions = <14 16>;  // c v
            };
            
            combo_forward {
                bindings = <&kp C_AC_FORWARD>;
                key-positions = <23 24>;  // m x
            };
            
            // 記号入力
            combo_double_quote {
                bindings = <&kp AT>;  // " (日本語キーボードでは@)
                key-positions = <1 3>;  // l p
            };
            
            combo_backtick {
                bindings = <&kp LBRC>;  // ` (日本語キーボードでは{)
                key-positions = <1 2>;  // l ,
            };
            
            combo_single_quote {
                bindings = <&kp CARET>;  // ' (日本語キーボードでは&)
                key-positions = <2 3>;  // , p
            };
            
            combo_hash {
                bindings = <&kp HASH>;  // #
                key-positions = <0 1>;  // (Esc) l
            };
            
            combo_semicolon {
                bindings = <&kp SEMICOLON>;  // ;
                key-positions = <2 6>;  // , e
            };
            
            combo_pipe {
                bindings = <&pipe>;  // |
                key-positions = <3 13>;  // p n
            };
            
            combo_colon {
                bindings = <&kp PLUS>;  // : (日本語キーボードでは+)
                key-positions = <4 15>;  // . b
            };
            
            combo_underscore {
                bindings = <&under>;  // _
                key-positions = <9 10>;  // h j
            };
            
            combo_minus {
                bindings = <&kp MINUS>;  // -
                key-positions = <13 15>;  // n b
            };
            
            combo_equal {
                bindings = <&kp EQUAL>;  // =
                key-positions = <3 4>;  // p .
            };
            
            combo_plus {
                bindings = <&kp TILDE>;  // + (日本語キーボードでは~)
                key-positions = <31 32 33>;  // (left)(up)(down)
            };
            
            combo_asterisk {
                bindings = <&kp LPAR>;  // * (日本語キーボードでは()
                key-positions = <11 6 9>;  // w e h
            };
            
            combo_caret {
                bindings = <&kp EQUAL>;  // ^
                key-positions = <5 2 13>;  // r , n
            };
            

        };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        backslash: backslash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp 0x89>;
            label = "BACKSLASH";
        };

        pipe: pipe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(0x89)>;
            label = "PIPE";
        };

        under: under {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(0x87)>;
            label = "UNDER";
        };
    };

    behaviors {
        touch_behavior_1: touch1 {
            compatible = "zmk,behavior-momentary";
            label = "TouchKey1";
            bindings = <&kp A>;
        };

        touch_behavior_2: touch2 {
            compatible = "zmk,behavior-momentary";
            label = "TouchKey2";
            bindings = <&kp B>;
        };

        touch_behavior_3: touch3 {
            compatible = "zmk,behavior-momentary";
            label = "TouchKey3";
            bindings = <&mo 1>;
        };

        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            bindings = <
&kp ESC           &kp L     &kp COMMA  &kp P      &kp DOT                            &kp F        &kp U  &kp D  &kp K  &sl 2
&kp A             &kp R     &kp E      &kp N      &kp B     &none        &kp G       &kp S        &kp I  &kp T  &kp O  &kp LBKT
&mt LEFT_SHIFT Z  &kp W     &kp UP     &kp H      &kp J     &kp TAB      &kp V       &kp C        &kp Y  &kp M  &kp X  &kp RBKT
&kp LGUI          &kp LEFT  &kp DOWN   &kp RIGHT  &kp LALT  &kp SPACE    &lt 1 BSPC  &lt 1 ENTER                       &kp LCTRL
            >;

            sensor-bindings =
                <&scroll_up_down>,
                <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        MOVE {
            bindings = <
&mt LS(Q) Q  &mt F7 N7  &mt F8 N8  &mt F9 N9  &mt F12 QUESTION                    &trans    &kp PG_UP  &trans   &trans  &trans
&kp TILDE    &mt F4 N4  &mt F5 N5  &mt F6 N6  &mt F11 N0        &trans    &trans  &kp HOME  &kp PG_DN  &kp END  &trans  &trans
&kp LS(Z)    &mt F1 N1  &mt F2 N2  &mt F3 N3  &mt F10 EXCL      &trans    &trans  &kp BSPC  &kp DEL    &trans   &trans  &trans
&trans       &trans     &trans     &trans     &trans            &trans    &trans  &trans                                &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        BT {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                                  &trans
            >;
        };
    };
};
