#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500
#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_sq {
            bindings = <&kp SQT>;
            key-positions = <2 1>;
        };

        combo_dq {
            bindings = <&kp DQT>;
            key-positions = <1 2 3>;
        };

        combo_grave {
            bindings = <&kp GRAVE>;
            key-positions = <3 2>;
        };

        combo_colon {
            bindings = <&kp COLON>;
            key-positions = <4 14>;
        };

        combo_semicolon {
            bindings = <&kp SEMI>;
            key-positions = <2 12>;
        };

        combo_lclk {
            bindings = <&mkp LCLK>;
            key-positions = <29 30>;
        };

        combo_rclk {
            bindings = <&mkp RCLK>;
            key-positions = <31 30>;
        };

        coy {
            bindings = <&kp UNDER>;
            key-positions = <26 25>;
        };

        combo_minus {
            bindings = <&kp MINUS>;
            key-positions = <13 14>;
        };

        combo_caret {
            bindings = <&kp CARET>;
            key-positions = <13 2 11>;
        };

        combo_slash {
            bindings = <&kp SLASH>;
            key-positions = <2 11>;
        };

        combo_bslash {
            bindings = <&kp BSLH>;
            key-positions = <2 11>;
        };

        combo_pipe {
            bindings = <&kp PIPE>;
            key-positions = <3 13>;
        };

        combo_eq {
            bindings = <&kp EQUAL>;
            key-positions = <3 4>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        touch_behavior_1: touch1 {
            compatible = "zmk,behavior-momentary";
            label = "TouchKey1";
            bindings = <&kp A>;
        };

        touch_behavior_2: touch2 {
            compatible = "zmk,behavior-momentary";
            label = "TouchKey2";
            bindings = <&kp B>;
        };

        touch_behavior_3: touch3 {
            compatible = "zmk,behavior-momentary";
            label = "TouchKey3";
            bindings = <&mo 1>;
        };

        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            bindings = <
&kp ESC           &kp L         &kp COMMA     &kp P             &kp DOT                                    &kp F        &kp U  &kp D  &kp K  &trans
&kp A             &kp R         &kp E         &kp N             &kp B             &none        &kp G       &kp S        &kp I  &kp T  &kp O  &trans
&mt LEFT_SHIFT Z  &kp W         &trans        &kp H             &kp J             &kp TAB      &kp V       &kp C        &kp Y  &kp M  &kp X  &trans
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &lt 1 INT_HENKAN  &kp INT_MUHENKAN  &kp SPACE    &lt 1 BSPC  &lt 1 ENTER                       &lt 2 DEL
            >;

            sensor-bindings =
                <&scroll_up_down>,
                <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        MOVE {
            bindings = <
&mt LS(Q) Q  &trans  &trans  &kp LBKT  &kp RBKT                              &trans     &kp UP    &trans     &trans    &trans
&trans       &trans  &trans  &kp LPAR  &kp RPAR  &trans            &kp HOME  &kp LEFT   &kp DOWN  &kp RIGHT  &kp END   &trans
&kp LS(Z)    &trans  &trans  &trans    &trans    &trans            &mkp MB4  &mkp LCLK  &mkp MB3  &mkp RCLK  &mkp MB5  &trans
&trans       &trans  &trans  &trans    &trans    &kp INT_HENKAN    &trans    &trans                                    &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        BT {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                                  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;
        };
    };
};
